.default.light.maps{

    background-image: url(/Awax/assets/complementos/mapa.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
}

.section-map-area{

    background-color: rgba(0, 0, 0, 0.1);
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-maps{

    width: 100vw;
    max-width: 1140px;
    margin: auto;
}

.section-map--block{

    width: 50%;
    padding: 30px;
    background-color: white;
    color: black;
}

.section-map-info--item{

    display: flex;
    align-items: center;
    color: #999;
    margin-bottom: 12px;
}

.section-map-info-item--image{

    background-color: #CCC;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    display: block;
    padding: 5px;
    border-radius: 15px;
    margin-right: 15px;
}

.section-map-info-item--image img{

    width: 20px;
    height: auto;
}