*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.section-services{

    display: flex;
    justify-content: center;
    align-items: center;
}

.section-service{

    flex: 1;
    text-align: center;
    border-left: 1px solid grey;
    padding: 15px;
}

.section-service h4{

    text-transform: uppercase;
    margin-top: 20px;
    font-size: 20px;
}

.section-service p{

    color: gray;
    font-size: 13px;
    line-height: 20px;
    margin-top: 10px;
}

.section-service.last{

    border-right: 1px solid grey;
}

